* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Muli', sans-serif;
  font-size: 13px; }

.navbar-dark .navbar-nav .nav-link {
  color: #dadada; }
  .navbar-dark .navbar-nav .nav-link i {
    font-size: 13px; }

.main-nav1 {
  background-color: #0e0e0e;
  overflow-y: hidden; }
  .main-nav1 .nav-link-style i {
    margin: 15px;
    font-size: 13px; }
  .main-nav1 .margin-top-style {
    margin-top: 4px; }
  .main-nav1 .dropdown-menu {
    min-width: 1rem;
    background-color: #0e0e0e;
    color: #dadada;
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    border: 0; }
    .main-nav1 .dropdown-menu li:hover {
      background-color: #151515; }

.link-active {
  border-bottom: solid 2px #151515; }

img#logo-main-nav {
  width: 30px;
  margin-right: 15px;
  margin-top: 0; }

.navbar-expand-lg .navbar-nav .nav2-link-style {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  padding-bottom: 1rem;
  border-bottom: solid 2px #151515; }
  .navbar-expand-lg .navbar-nav .nav2-link-style:hover {
    border-bottom: solid 2px #2a80f8; }

.nav2-title {
  margin: 5px; }

.search-input {
  background-color: #151515;
  border-radius: 0.8rem;
  height: 25px;
  margin-top: 7px;
  color: #dadada;
  padding-left: 10px; }
  .search-input:focus {
    outline: none; }

#nav2 {
  background-color: #151515;
  padding-bottom: 0; }
  #nav2 .nav2-container-style {
    height: 100%;
    text-align: center;
    padding: 7px 0px 14px 0px; }
    #nav2 .nav2-container-style .nav2-row-style {
      height: 100%;
      text-align: center;
      padding: 7px 0px 14px 0px; }
      #nav2 .nav2-container-style .nav2-row-style .border-style:hover {
        border-bottom: solid 2px #2a80f8; }
  #nav2 a {
    text-decoration: none;
    color: #dadada; }

#main-header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header-foto.jpg);
  background-size: cover;
  background-position: center;
  height: 528px;
  color: white; }

.header-caption {
  color: white;
  position: fixed;
  left: 100px;
  top: 120px;
  z-index: 0; }
  .header-caption img {
    height: 130px;
    margin: 40px 0 20px 0; }
  .header-caption .header-text-container {
    width: 50%; }
    .header-caption .header-text-container h1 {
      font-size: 3.5em;
      margin-bottom: 25px; }
    .header-caption .header-text-container .header-icon {
      color: white;
      padding: 2px;
      font-size: 20px;
      vertical-align: middle; }
    .header-caption .header-text-container .wrapper-margin {
      margin-right: 15px; }
    .header-caption .header-text-container .header-icon-wrapper {
      display: inline-block; }
    .header-caption .header-text-container .header-icon-text {
      border: solid 1px white;
      display: inline-block; }
      .header-caption .header-text-container .header-icon-text p {
        padding: 5px;
        display: inline;
        vertical-align: middle; }
      .header-caption .header-text-container .header-icon-text a {
        text-decoration: none; }
      .header-caption .header-text-container .header-icon-text .fb-like-p {
        padding-left: 0; }

.section-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 1000; }
  .section-container .img-container {
    margin-top: 50px; }
  .section-container img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  .section-container .section-img-left {
    transform: rotate(15deg);
    margin-left: -25px; }
  .section-container .section-img-right {
    transform: rotate(-15deg);
    margin-right: -25px;
    margin-left: 0px; }
  .section-container .article-text {
    width: 60%;
    padding: 120px 200px 120px 200px; }
    .section-container .article-text h4 {
      margin-bottom: 1.5rem;
      color: #0e196e; }
    .section-container .article-text p {
      color: #393939; }

#news-section {
  position: relative;
  z-index: 1000; }

footer {
  position: relative;
  z-index: 1000; }
  footer img#footer-logo {
    max-width: 22%;
    margin-bottom: 2.5rem; }
  footer .footer-link {
    padding-right: 0.85rem !important;
    padding-left: 0.85rem !important;
    color: #393939; }
    footer .footer-link:hover, footer .footer-link:focus {
      color: #2a80f8;
      text-decoration: none; }
  footer .navbar-light .navbar-nav .footer-link-1 {
    color: #393939; }
    footer .navbar-light .navbar-nav .footer-link-1:hover, footer .navbar-light .navbar-nav .footer-link-1:focus {
      color: #2a80f8;
      text-decoration: none; }

div#copyright {
  height: 1.75rem;
  margin-top: 0.94rem;
  margin-bottom: 0.5rem; }
  div#copyright p {
    color: #0e0e0e;
    padding: 0.2rem; }

#scroll-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: solid 1px #2a80f8;
  border-radius: 100%;
  text-align: center; }
  #scroll-button i {
    color: #2a80f8;
    font-size: 12px; }

.team-container {
  padding: 103px 40px 0 40px;
  overflow-x: hidden; }
  .team-container .team {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    margin: 0 auto; }
  .team-container .round-container {
    width: 100%;
    margin: 0 auto; }
    .team-container .round-container .container-foto-team {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
      padding-bottom: 30px; }
    .team-container .round-container .img-team1 {
      background-image: url(../img/lukas.jpg); }
  .team-container .text-team-content {
    margin-bottom: 60px; }
    .team-container .text-team-content .title-foto {
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      padding-top: 20px; }
    .team-container .text-team-content .text-foto {
      font-size: 1em;
      text-align: center;
      margin-bottom: 5px; }

@media all and (max-width: 992px) {
  .to-hide {
    display: none; }
  #collapsibleNavbar > ul.nav.navbar-nav.ml-auto.w-80.justify-content-center > li:nth-child(3) > a {
    margin-top: 12px; }
  .search-input {
    width: 100%;
    border-radius: 0;
    padding: 12px;
    margin-top: 15px;
    height: 35px; }
  .navbar-collapse {
    margin-left: 20px;
    margin-right: 20px; }
  .navbar-dark .navbar-nav .nav-link {
    border-bottom: 1px solid #393939;
    padding: 12px;
    margin: 0; }
    .navbar-dark .navbar-nav .nav-link:hover {
      background-color: #151515; }
  #nav2 {
    background-color: #0e0e0e;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0; }
    #nav2 a {
      text-align: end; }
  .header-caption {
    left: 30px;
    top: 60px; }
    .header-caption .header-text-container {
      width: 90%; }
    .header-caption img {
      height: 100px;
      margin: 40px 0 20px 0; }
  .team-container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden; }
  .section-container {
    padding-bottom: 50px; }
    .section-container .article-text {
      padding: 0 40px;
      margin-top: 30px;
      margin-right: 0;
      margin-left: 0;
      width: 100%; }
    .section-container .shadow-left {
      transform: rotate(0);
      margin-left: auto;
      margin-right: auto; }
    .section-container .shadow-right {
      transform: rotate(0);
      margin-left: auto;
      margin-right: 0; }
    .section-container .section-img-left {
      transform: rotate(0);
      margin-left: auto;
      margin-right: auto; }
    .section-container .section-img-right {
      transform: rotate(0);
      margin-right: auto;
      margin-left: auto; }
  .dropdown .dropdown-menu a.nav-link {
    text-align: center;
    float: left !important;
    padding: 6px !important;
    border-right: solid 1px #393939;
    border-bottom: none;
    width: 10%; } }

@media all and (max-width: 540px) {
  a.nav-link.margin-top-style.rwd-margin {
    margin-top: 12px; }
  #headerCaptionButtonsWrapper {
    display: block; }
    #headerCaptionButtonsWrapper #likeButtonWrapper0 {
      margin-top: 50px; }
    #headerCaptionButtonsWrapper #gotoWrapper {
      display: inline-block;
      order: 1;
      margin-left: 0; } }

@media all and (max-width: 425px) {
  li.nav-item.nav-link-style-d-sm-none {
    margin-top: 12px; }
  .header-caption {
    left: 20px; }
    .header-caption .header-text-container {
      width: 90%; }
      .header-caption .header-text-container h1 {
        font-size: 30px;
        margin-bottom: 15px; }
      .header-caption .header-text-container p {
        font-size: 12px;
        margin-bottom: 15px; }
    .header-caption img {
      height: 80px;
      margin: 30px 0 15px 0; }
  .section-container .article-text {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
    width: 100%; }
  .section-container .section-img-left {
    transform: rotate(0);
    margin-left: auto; }
  .section-container .section-img-right {
    transform: rotate(0);
    margin-right: auto;
    margin-left: auto; }
  .section-container .img-container {
    margin-top: 40px; }
  .section-container .shadow-left {
    width: 75vw;
    height: 75vw;
    right: 0; }
  .section-container .shadow-right {
    width: 75vw;
    height: 75vw;
    right: 12%; }
  .section-container img {
    width: 75vw;
    height: 75vw; }
  .section-container .section-img-right {
    margin-left: 0px; } }

.rotatable {
  will-change: transform, rotate; }

#main {
  z-index: 50; }

/*# sourceMappingURL=main.css.map */