#main-header {
    transition: all 1s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 25% 100%, 0 70%);
}


.section-container .section-img-left {
    transform: rotate(0deg);
}

.section-container .section-img-right {
    transform: rotate(0deg);
}

.input-close-icon {
    display: none;
}
  
.main-nav1 {
    overflow-y: inherit; /* default value */
}

.dropdown-menu.show {
    z-index: 1050;
}

.input-close-icon em {
    position: absolute;
    top: 15px;
    right: 8px;
    color: white;
    font-size: 1.4em;
}

#nav2 span.navbar-toggler {
    background-color: black;
}

#scroll-button em {
    color: #2a80f8;
    font-size: 12px;
}