#main-header {
    transition: all 1s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 25% 100%, 0 70%);
}


.section-container .section-img-left {
    transform: rotate(0deg);
}

.section-container .section-img-right {
    transform: rotate(0deg);
}
  
.main-nav1 {
    overflow-y: inherit; /* default value */
}

.dropdown-menu.show {
    z-index: 1050;
}

#nav2 span.navbar-toggler {
    background-color: black;
}

#scroll-button em {
    color: #2a80f8;
    font-size: 12px;
}

nav.main-nav1 {
    min-height: 55px;
}

#searchInputListElement {
    display: none;
}

#searchInputListElement input {
    margin-bottom: 6px;
}


#magicSearchWrapper, #searchInputListElement {
    height: 40px;
}

@media (min-width: 576px) {
    #searchInputListElement {
        width: 500px;
    }
}

@media (min-width: 768px) {
    #searchInputListElement {
        width: 670px;
    }
}

@media (min-width: 992px) {
    #searchInputListElement {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    #searchInputListElement {
        width: 500px;
    }
}