.section-container .section-img-left {
    transform: rotate(0deg);
}

.section-container .section-img-right {
    transform: rotate(0deg);
}
  
.main-nav1 {
    overflow-y: inherit; /* default value */
}

.dropdown-menu.show {
    z-index: 1050;
}

#nav2 span.navbar-toggler {
    background-color: black;
}

#scroll-button em {
    color: #2a80f8;
    font-size: 12px;
}

nav.main-nav1 {
    min-height: 55px;
}

#searchInputListElement input {
    margin-bottom: 6px;
}


#magicSearchWrapper, #searchInputListElement {
    height: 40px;
}

@media (min-width: 576px) {
    #searchInputListElement {
        display: none;
        width: 500px;
    }
}

@media (min-width: 768px) {
    #searchInputListElement {
        width: 670px;
    }
}

@media (min-width: 992px) {
    #searchInputListElement {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    #searchInputListElement {
        width: 500px;
    }
}

.collapsing {
    -webkit-transition: height 0.8s ease;
    -o-transition: height 0.8s ease;
    transition: height 0.8s ease;
}

body.noscroll {
    overflow: hidden !important;
    height: 100% !important;
}

.bg-layer-grey {
    position: absolute;
    background-color: #0e0e0e;
    height: 100vh;
    width: 100%;
    z-index:-2000;
}

.bg-layer-white {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 100%;
    z-index:-1000;
}

.main-nav1 {
    z-index: 10005;
}


#middle-toggler-icon {
    border: none;
}

#middle-toggler-icon > img {
    max-height: 48px;
}

.tr {
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

/* .header-caption {
    -webkit-transition: transform 0.5s ease-out;

    padding-left: 0px;
    position: absolute;
    left: 100px;
    top: 80px;
} */

/* .header-caption img {
    height: 130px;
    margin-top: 0px;
} */

/* <div class="position-absolute w-100 d-sm-none" style=""></div> */
div#nav-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #151515;
    height: 72px;
}

@media (min-width: 1200px) {
    div#nav-background {
        height: 108px;
    }
}

@media (max-width: 1200px) {
    #nav2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.link-active {
    border-bottom: solid 2px #2a80f8 !important;
}

/* Damn absolutes */

#framewrapper {
    opacity: 0.01;
}

#likeButtonWrapper0 {
    position: absolute;
    height: 30px;
    width: 115px;
}

#likeButtonWrapper {
    font-size: 14px;
    pointer-events: none;
    touch-action: none;
}
#framewrapper, #likeButtonWrapper {
    position: absolute;
}

#gotoWrapper {
    font-size: 14px;
    margin-left: 125px;
}

.boxedIcon {
    font-size: 20px !important;
    border: solid 1px white;
}

#headerCaptionButtonsWrapper {
    width: 320px;
    height: auto;
}

.gradiented {
    background-color: rgba(0, 0, 0, 0.65);
}