* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// #0e0e0e - górna nawigacja 1
// #151515 - górna nawigacja 2
// #2a80f8 - dolna belka w górnej navigacji 2
// #0e196e - nagłówki, przyciski "rozwiń", strzałki
// #dadada - teksty i ikony w nawigacji
// #393939 - główny tekst na stronie i przyciski pod nim

$primary-dark-color: #0e0e0e;
$secondary-dark-color: #151515;
$primary-light-color: #dadada;
$text-color: #393939;
$logo-dark-color: #0e196e;
$logo-light-color: #2a80f8;

@mixin nav2-row-style {
    height: 100%;
    text-align: center;
    padding: 7px 0px 14px 0px;
}

body {
    // font-family: 'Muli', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
}


.navbar-dark .navbar-nav .nav-link {
    color: $primary-light-color;

    i {
        font-size: 13px;
    }
}

.main-nav1 {
    background-color: $primary-dark-color;
    overflow-y: hidden;

    .nav-link-style {
        i {
            margin: 15px;
            font-size: 13px;
        }
    }

    .margin-top-style {
        margin-top: 2px;
    }

    .dropdown-menu {
        min-width: 1rem;
        background-color: $primary-dark-color;
        color: $primary-light-color;
        font-size: 13px;
        font-family: 'Muli', sans-serif;
        padding-bottom: 0px;
        padding-top: 0px;
        border: 0;

        li:hover {
            background-color: $secondary-dark-color;
        }
    }
}


// .input-close-icon i {
//     font-size: 20px;
//     color: $primary-light-color;
// }

.link-active {
  border-bottom: solid 2px $secondary-dark-color;
}



img#logo-main-nav {
    width: 30px;
    margin-right: 15px;
    margin-top: 0;
}

.navbar-expand-lg .navbar-nav .nav2-link-style {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
    padding-bottom: 11px !important ;
    padding-top: 9px !important;
    border-bottom: solid 2px $secondary-dark-color;

    &:hover { 
        border-bottom: solid 2px $logo-light-color;
    }

}


#collapsibleNavbar2 > ul > li > a {
    padding: 8px;
}
.nav2-title {
    margin: 5px;
}


.search-input {
    background-color: $secondary-dark-color;
    border-radius: 0.8rem;
    height: 25px;
    margin-top: 7px;
    color: $primary-light-color;
    padding-left: 10px;

    &:focus {
        outline: none;
    }
}

#nav2 {
    background-color: $secondary-dark-color;
    padding-bottom: 0;
    padding-top: 2px;

    .nav2-container-style {
        @include nav2-row-style;


        .nav2-row-style {
            @include nav2-row-style;

            .border-style {

                &:hover {
                    border-bottom: solid 2px $logo-light-color;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: $primary-light-color;
    }
}

// header

#main-header {
    background-image: url(../img/header-foto.jpg);
    background-size: cover;
    background-position: center;
    height: 528px;
    color: white;
}


.header-caption {
    color: white;
    position: fixed;
    left: 100px; 
    top: 90px;
    z-index: 0;
    

    img {
        height: 150px;
        margin: 15px 0 0 0;
    }
    p.logo-smart-caption1 {
        margin-top: 15px;
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 5px;
    }

    p.logo-smart-caption2 {
        font-size: 12px;
        margin-bottom: 15px;
        letter-spacing: 18.5px;
        margin-top: 0;
    }

    .header-text-container {
        width: 50%;

        h1 {
            font-size: 3.5em;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .header-icon {
            color: white;
            padding: 2px;
            font-size: 20px;
            vertical-align: middle;
        }

        .wrapper-margin {
            margin-right: 15px;
            
        }

        .header-icon-wrapper {
            display: inline-block;

        }
        .header-icon-text {
            border: solid 1px white;
            display: inline-block;

            p {
                padding: 5px;
                display: inline;
                vertical-align: middle;
            }

            a {
                text-decoration: none;
            }

        }
    }
}

// section

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 1000;


    .get-icon-text {
        border: solid 1px $text-color;
        text-align: center;
        font-size: 14px;
        display: inline-block;
        margin: 5px 5px 0 0;
        left: 0;

        &:hover {
            background-color: $secondary-dark-color;
        }

        a {
            color: $text-color;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }

        p {
            padding: 5px 8px 5px 0;
            display: inline-block;
            margin: 0;

            &:hover {
                color: white;
            }
        }

        .get-icon {
            font-size: 16px;
            padding: 2px 2px 2px 5px;
        }
    }

    .img-container {
        margin-top: 50px;
    }

    img.coaster {
        width: 350px;
        height: 350px;
        border-radius: 10%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    }

    img.partners {
        width: 95px;
        height: auto;
    }

    .section-img-left {
        transform: rotate(15deg);
        margin-left: -25px;
    }

    .section-img-right {
        transform: rotate(-15deg);
        margin-right: -25px;
        margin-left: 0px;
    }

    .article-text {
        width: 60%;
        padding: 120px 200px 120px 200px;

        .title-logo-wrapper {
            margin-bottom: 1.5rem;
            

           h4 {
            // margin-bottom: 1.5rem;
            color: $logo-dark-color;
            display: inline-block;
            width: 80%;
            vertical-align: bottom;
            }
        }

        h4.section-title-style {
            margin-bottom: 1.5rem;
            color: $logo-dark-color;
            }

        p {
            color: $text-color;
        }
    }
}

#news-section {
    position: relative;
    z-index: 1000;
}

// footer

footer {
    position: relative;
    z-index: 1000;

    img#footer-logo {
        max-width: 22%;
        margin-bottom: 2.5rem;
    }

    .footer-link {
        padding-right: 0.85rem !important;
        padding-left: 0.85rem !important;
        color: $text-color;

        &:hover,
        &:focus {
            color: $logo-light-color;
            text-decoration: none;
        }
    }

    .navbar-light .navbar-nav .footer-link-1 {
        color: $text-color;

        &:hover,
        &:focus {
            color: $logo-light-color;
            text-decoration: none;
        }
    }
}

div#copyright {
    height: 1.75rem;
    margin-top: 0.94rem;
    margin-bottom: 0.5rem;

    p {
        color: $primary-dark-color;
        padding: 0.2rem;
    }
}

#scroll-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: solid 1px $logo-light-color;
    border-radius: 100%;
    // background-color: #0e19;
    text-align: center;

    i {
        color: $logo-light-color;
        font-size: 12px;
    }
}

.team-container {
    padding: 103px 40px 0 40px;
    // padding-right: 40px;
    overflow-x: hidden;

    .team {
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: bold;
        margin: 0 auto;
        }

    .round-container {
        width: 100%;
        margin: 0 auto;

        .container-foto-team {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-position: center;
            background-size: cover;
            margin: 0 auto;	
            padding-bottom: 30px;
        }

        .img-team1 {
            background-image: url(../img/lukas.jpg);
        }

    }

        .text-team-content {
            margin-bottom: 60px;

            .title-foto {
                font-weight: bold;
                font-size: 1em;
                text-align: center;
                padding-top: 20px;
            }
            
            .text-foto {
                font-size: 1em;
                text-align: center;
                margin-bottom: 5px;
            }

        }
}

.privacy {
    float: right;
}

@media (max-width: 1200px) {

    .header-caption { 
        top: 120px;
    }
}


@media all and (max-width: 992px) {
    .to-hide {
        display: none;
    }

    #collapsibleNavbar > ul.nav.navbar-nav.ml-auto.w-80.justify-content-center > li:nth-child(3) > a {
        margin-top: 12px;
    }

    
    .search-input {
        width: 100%;
        border-radius: 0;
        padding: 12px;
        margin-top: 15px;
        height: 35px;
    }
    .navbar-collapse {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        border-bottom: 1px solid $text-color;
        padding: 12px;
        margin: 0;

        &:hover {
            background-color: $secondary-dark-color;
        }
    }

    #nav2 {
        background-color: $primary-dark-color;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0; 

        a {
        text-align: end;
        }
       
    }

    .header-caption {
        left: 30px; 
        top: 60px;

        .header-text-container {
            width: 90%;
        }

        img {
            margin: 0;
        }

        p {
            width: 90%;
        }

    }

    .team-container {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;

    }

    
    .section-container {
        padding-bottom: 50px;

        .article-text {
            padding: 0 40px;
            margin-top: 30px;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }


        .section-img-left {
            transform: rotate(0);
            margin-left: auto;
            margin-right: auto;
        }

        .section-img-right {
            transform: rotate(0);
            margin-right: auto;
            margin-left: auto;
        }
    }

    .dropdown .dropdown-menu a.nav-link {
        text-align: center;
        float: left !important;
        padding: 6px !important;
        border-right: solid 1px $text-color;
        border-bottom: none;
        width: 10%;
    }
}

.footer-padding {
    padding: 0 25px 0 25px;
}

.footer-apps-wrapper {
    padding-right: 15px;
}

@media all and (max-width: 540px) {

    a.nav-link.margin-top-style.rwd-margin {
        margin-top: 12px;
    } 

}

@media all and (max-width: 425px) {

    li.nav-item.nav-link-style-d-sm-none {
        margin-top: 12px;
    }

     .header-caption {
        left: 20px; 

        p.logo-smart-caption1 {
            margin-top: 8px;
            font-size: 27px;
            letter-spacing: 2px;
            line-height: 5px;
        }
    
        p.logo-smart-caption2 {
            font-size: 10px;
            margin-bottom: 10px;
            letter-spacing: 16.5px;
            margin-top: 0;
        }

        .header-text-container {
            width: 80%;



            h1 {
                font-size: 30px;
                margin-bottom: 15px;
            }

            p {
                font-size: 12px;
                margin-bottom: 15px;
            }


        }

        img {
            height: 130px;
            margin: 0;
        }      

        // p.logo-smart-caption {
        //     font-size: 11px;
        //     margin-bottom: 20px;
        // }
        
    }

    .section-container {
        .article-text {
            // padding: 10px 50px 10px 50px;
            margin-top: 40px;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
        .section-img-left {
            transform: rotate(0);
            margin-left: auto;
        }

        .section-img-right {
            transform: rotate(0);
            margin-right: auto;
            margin-left: auto;
        }
        .img-container {
            margin-top: 40px;
        }


        img.coaster {
            width: 75vw;
            height: 75vw;
        }

        .section-img-right {
            margin-left: 0px;
        }
    }


}

.rotatable {
    will-change: transform, rotate;
}

#main {
    z-index: 50;
}