<div class="container team-container">
    <div class="row">
        {{#contributors}}
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <div class="round-container">
                    <div class="container-foto-team img-team1"></div>
                </div>
                <div class="text-team-content">
                    <p class="title-foto">{{name}}</p>
                    <p class="text-foto">{{description}}</p>
                </div>
            </div>
        {{/contributors}}
    </div>
</div>