
<div class="header-caption animated fadeIn">
    <img src="{{header.logo}}" alt="Logo białe" id="header-logo"/>
    <p class="logo-smart-caption1">{{header.text1}}</p>
    <P class="logo-smart-caption2">{{header.text2}}</p>
    <div class="header-text-container">
        <h1>{{header.text3}}</h1>
        <p>{{header.content}}</p>
        <div class="header-icon-wrapper wrapper-margin to-hide">
            <div class="btn-wrapper header-icon-text">
                <a href="https://www.facebook.com/neuronfoundation/">
                    <em class="header-icon icon-facebook"></em>
                </a>
                <p>ZOBACZ PROJEKT NA FACEBOOKU</p>
            </div>
            <div class="btn-wrapper header-icon-text">
                <a href="#news-section">
                    <em class="header-icon icon-doc"></em>
                </a>
                <p>PRZEJDŹ DO STRONY</p>
            </div>
        </div>
    </div>
</div>

<div id="main-header" class="gradient-1" style="background-image: url({{header.background}});">
    <div id="left-corner" style="transform-origin: bottom right; float: left; display: inline-block; width:25%; height:100%;" class="tr">
        <svg width='100%' height='100%' viewBox="0 0 100 100" preserveAspectRatio="none" style='background-color: transparent'>
            <polygon id="left-polygon" fill="white" points="0 100,0 70,100 100" ></polygon>
        </svg>
    </div>
    <div id="right-corner" style="transform-origin: bottom left; float: left; display: inline-block; width:75%;height:100%;" class="tr">
        <svg width='100%' height='100%' viewBox="0 0 100 100" preserveAspectRatio="none" style='background-color: transparent'>
            <polygon id="right-polygon" fill="white" points="100 100,100 50,0 100" ></polygon>
        </svg>
    </div>
</div>