<div class="section-container">
    {{#articles}}
    <div class="row text-center text-md-left justify-content-center align-items-center py-3">
        {{#isEven}}
        <div class="col-lg-4 col-sm-6" id="section-container-img-{{index}}">
            <div class="rotatable">
                <img src="{{image}}" class="coaster section-img-style section-img-left animate-left" alt="Artykuł {{index}}">
            </div>
        </div>
        <div class="col-lg-8 col-sm-6 article-text d-md-block">
            <div class="title-logo-wrapper">
                <h4>{{title}}</h4>
                <img class="partners" src="/img/Attendo.png">
            </div>
            <p>{{content}}</p>
            <div class="get-icon-text">
                <a href="#">
                    <em class="get-icon icon-doc"></em>
                    <p>PRZEJDŹ DO STRONY</p>
                </a>
            </div>
        </div>
        {{/isEven}}

        {{^isEven}}
        <div class="col-lg-8 col-sm-6 article-text d-md-block order-2 order-md-1">
            <div class="title-logo-wrapper">
                <h4>{{title}}</h4>
                <img class="partners" src="../img/Attendo.png">
            </div>
            <p>{{content}}</p>
        </div>
        <div class="col-lg-4 col-sm-6 order-1 text-md-right order-md-2" id="section-container-img-{{index}}">
            <div class="rotatable">
                <img src="{{image}}" class="coaster section-img-style section-img-right animate-right" alt="Artykuł {{index}}"/>
            </div>
        </div>
        {{/isEven}}
    </div>
    {{/articles}}
</div>